
<div class="program-wrapper">
  <div class="program-rooms">
    <% program['rooms'].each do |room| %>
      <div class="program-room"><div class="program-room-inner"><%= room['name'] %></div></div>
    <% end %>
  </div>
  <div class="program">
    <div class="program-timeline">
      <% (program['from']...program['to']).step(15*60).each do |t| %>
        <span><%= (Time.new(2015, 4, 30, 0 , 0, 0) + t).strftime('%k:%M') %></span>
      <% end %>
    </div>
    <div class="program-global">
      <%= partial 'program/slots', locals: {program: program, slots: program['global']['slots']} %>
    </div>
    <% program['rooms'].each do |room| %>
      <%= partial 'program/room', locals: {program: program, room: room} %>
    <% end %>
  </div>
</div>