
section.content {
  h1 {
    @include boston-traffic;
    font-size: 1.4em;
    margin: 2em 0 1em;

    &:before {
      content: '> ';
      color: $color_main;
    }
  }
  &.main {
    h1:before {
      color: $color_white;
    }
  }

  a {
    &, &:active, &:visited, &:hover {
      color: $color_black;
      text-decoration: none;
      border-bottom: 1px solid $color_black;
      -webkit-transition: border-color 0.2s, color 0.2s;
      transition: border-color 0.2s, color 0.2s;
    }

    &:hover {
      color: $color_main;
      border-bottom: 1px solid $color_main;
    }
  }

  .divider {
    position: relative;
    top: -0.25em;
    margin: 0 0.25em;
    display: inline-block;
    height: 1px;
    width: 0.7em;
    background: $color_black;
  }
}