
p, li {
  &.small {
    font-size: 0.9em;
    font-style: italic;
  }

  &.intro {
    font-weight: 700;
  }

  a {
    &, &:active, &:visited, &:hover {
      color: $color_black;
      text-decoration: none;
      border-bottom: 1px solid $color_black;
      -webkit-transition: border-color 0.2s, color 0.2s;
      transition: border-color 0.2s, color 0.2s;
    }

    &:hover {
      color: $color_black;
      border-bottom: 1px solid transparent;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .divider {
    position: relative;
    top: -0.25em;
    margin: 0 0.25em;
    display: inline-block;
    height: 1px;
    width: 0.7em;
    background: $color_black;
  }
}

dl {
  margin: 2em 0;
  
  dt {
    font-size: 1.2em;
    font-weight: 700;
  }

  dd {
    margin: 0 0 1em 0;
  }
}

section.content {
  h1 {
    @include boston-traffic;

    font-size: 1.6em;
    margin: 2em 0 1em;

    &:before {
      content: '> ';
      color: $color_main;
    }
  }
  &.main {
    h1:before {
      color: $color_white;
    }
  }

  h2 {
    font-size: 1.5em;
    margin: 2em 0 1em;
  }
}