@font-face {
  font-family: 'Boston Traffic';
  src: font-url('bostontraffic.eot');
  src: font-url('bostontraffic.eot?#iefix') format('embedded-opentype'),
       font-url('bostontraffic.woff') format('woff'),
       font-url('bostontraffic.ttf') format('truetype'),
       font-url('bostontraffic.svg#bostontrafficregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@mixin boston-traffic {
  font-family: 'Boston Traffic';
  font-weight: 700;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: 'Karla';
  src: font-url('Karla-Regular.eot');
  src: font-url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Karla-Regular.woff') format('woff'),
       font-url('Karla-Regular.ttf') format('truetype'),
       font-url('Karla-Regular.svg#karlaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: font-url('Karla-Bold.eot');
  src: font-url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
       font-url('Karla-Bold.woff') format('woff'),
       font-url('Karla-Bold.ttf') format('truetype'),
       font-url('Karla-Bold.svg#karlabold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: font-url('Karla-Italic.eot');
  src: font-url('Karla-Italic.eot?#iefix') format('embedded-opentype'),
       font-url('Karla-Italic.woff') format('woff'),
       font-url('Karla-Italic.ttf') format('truetype'),
       font-url('Karla-Italic.svg#karlaitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: font-url('Karla-BoldItalic.eot');
  src: font-url('Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
       font-url('Karla-BoldItalic.woff') format('woff'),
       font-url('Karla-BoldItalic.ttf') format('truetype'),
       font-url('Karla-BoldItalic.svg#karlabolditalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
