
section.footer {
  .section-inner {
    font-size: 0.9em;
  }

  .section-inner {
    // max-width: 640px;
  }
  
  p {
    text-align: left;

    &.links {
      margin-top: 2em;
    }

    a, a:hover, a:visited, a:active {
      color: $color_white;
      text-decoration: none;
      border-bottom: 1px solid $color_white;

      -webkit-transition: border-color 0.2s;
      transition: border-color 0.2s;
    }

    a:hover {
      border-color: $color_black;
    }
  }

  span.sdn {
    display: block;
    background: asset-data-uri('sdn.svg');
    background-repeat: no-repeat;
    background-size: 5em auto;
    background-position: center 0;

    width: 5em;
    height: (5em / $sdn_logo_ratio);
    margin-bottom: 1em;
  }
}