
section.footer {
  p {
    text-align: center;

    a, a:hover, a:visited, a:active {
      color: $color_white;
      text-decoration: none;
      border-bottom: 1px solid $color_black;

      -webkit-transition: border-color 0.2s;
      transition: border-color 0.2s;
    }

    a:hover {
      border-color: $color_white;
    }
  }

  p.sdn {
    background: asset-data-uri('sdn.svg');
    background-repeat: no-repeat;
  }
}