
.logo {
  display: block;
  width: 10em;
  height: (10em / $logo_ratio);
  background: asset-data-uri('logo.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto 1em;
}

ul.menu {
  
  margin: 0;
  list-style: none;

  li {
    font-family: 'Boston Traffic';

    height: 2em;
    text-align: center;

    a, a:hover, a:visited, a:active {
      color: black;
      padding: 0 0.25em 0.25em;
      text-decoration: none;
      -webkit-transition: border-color 0.2s;
      transition: border-color 0.2s;
      border-bottom: 2px solid $color_main;
    }

    a:hover, a.active {
      border-color: $color_black;
    }
  }
}