
section.intro {
  .intro {
    max-width: 640px;
  }

  .section-inner {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  a.button {
    &, &:active, &:visited {
      display: inline-block;
      @include boston-traffic;
      font-size: 1.4em;
      line-height: 1em;
      padding: 0.5em;
      color: black;
      text-decoration: none;
      background: $color_white;
      background-repeat: no-repeat;
      border: 1px solid $color_black;

      &:before {
        content: '';
        background: $color_main;
        background-image: asset-data-uri('arrow.svg');
        background-size: auto 0.7em;
        background-repeat: no-repeat;
        background-position: center center;
        height: 1em;
        width: 1em;
        margin-right: 0.5em;
        display: inline-block;
      }
    }

    &:hover {
      background: $color_main;
    }
  }
}