section.kart {
  .section-inner {
    &:before {
      content: '';

      display: block;
      background-image: image-url('kart.svg');
      height: 6em;
      background-size: auto 6em;
      background-position: right top;
      background-repeat: no-repeat;
    }
  }

  h1 {
    margin-top: 1em;
  }
}