
html, body { 
  height: 100%; 
}
 
body {
  display: table;
  width: 100%;
}

.wrapper {
  display: table-row;
  height: 100%;
}

.footer-wrapper {
  display: table-row;
  height: 1px;
}

section {
  padding: 3em 0;
  position: relative;

  .section-inner {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 1em;
  }

  &:after {
    content: '';
    width: 100%;
    padding-bottom: 2em;
    background-image: asset-data-uri('border.svg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: top center;
    position: absolute;
    left: 0;
    bottom: -1em;
    right: 0;
    z-index: 10;
  }

  &.main {
    background: $color_main;
  }

  &.white {
    background: $color_white;
  }

  &.black {
    background: $color_black;
    color: $color_white;
  }

  &.header {
    background: $color_main;
  }

  &.footer {
    background: $color_black;
    color: $color_gray;
    padding-bottom: 1em;

    &:after {
      content: none;
    }
  }
}