
$program-quarter-width: 5em;
$program-slot-height: 3em;
$program-rooms-width: $program-quarter-width;

$program-rooms: 5;
$program-quarters: 34;

.program-wrapper {
  // padding-left: $program-rooms-width;
  width: 100%;
  padding-left: $program-rooms-width;
  position: relative;

  .program {
    width: 0;
    padding-right: 100%;
    overflow-x: scroll;
    position: relative;
  }

  .program-rooms {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 1.7em;
    background: $color-main;

    .program-room {
      height: $program-slot-height;
      width: $program-rooms-width;
      padding: 0.1em;

      .program-room-inner {
        background: $color-black;
        color: $color-white;
        width: 100%;
        height: 100%;
      }      
    }
  }

  .program-global {
    position: absolute;
    left: 0;
    top: 1.7em;

    .program-slot {
      height: ($program-rooms * $program-slot-height);
    }
  }

  .program-timeline {
    @include clearfix;
    width: ($program-quarters * $program-quarter-width);

    .program-timeline-time {
      width: $program-quarter-width;
      padding: 0.1em;
      float: left;

      .program-timeline-time-inner {
        background: $color-black;
        color: white;
        text-align: center;
      }
    }
  }

  .program-slots {
    @include clearfix;
    width: ($program-quarters * $program-quarter-width);
  }

  .program-slot {
    height: $program-slot-height;
    padding: 0.1em;
    float: left;

    @for $i from 1 through $program-quarters {
      &.program-slot-size-#{$i} { width: $program-quarter-width * $i; }
    }

    .program-slot-inner {
      height: 100%;
      width: 100%;
      padding: 0.25em;
      text-align: center;
      background: white;
      overflow: hidden;
    }
  }
}