.speakers {
  .speaker-inner {
    background: $color-main;
    position: relative;
    padding: 2em 1em 7em 1em;
    margin-bottom: 2em;

    .image {
      background: $color-white;
      padding: 1em;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      margin: 0.5em 0 0;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      line-height: 1.3em;
    }

    h3 {
      // @include boston-traffic;

      position: absolute;
      left: (1em / 1.5); right: (1em / 1.5);
      bottom: 0.5em;
      margin: 0;

      font-size: 1.2em;
      line-height: 1.3em;
      letter-spacing: -1px;
      &:before {
        content: '‘'
      }
      &:after {
        content: '’'
      }
    }

    &:before {
      content: '';
      width: 100%;
      padding-bottom: 1em;
      background-image: asset-data-uri('border-top-white.svg');
      background-size: auto 100%;
      background-position: top center;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }

  &.speakers-keynote {
    .speaker-inner {
      background: $color-white;
      .image {
        background: $color-main;
      }

      &:before {
        background-image: asset-data-uri('border-top-main.svg');
      }
    }
  }
}