
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #cccccc;
$color_antracite: #6d6e71;
$color_selected: #eeaa2f;

$color_main: #fedf00;

$logo_ratio: 1.96941678520626;
$sdn_logo_ratio: 1.83410295878228;
$chevron_ratio: 0.44718376635691;
$kart_ratio: 1.02687754705997;