<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DrupalJam 2015</title>
    <meta name="description" content="DrupalJam is het Drupal event voor Nederland en België">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="stylesheets/all.css">
    <script src="javascripts/modernizr.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <section class="header">
        <ul class="menu">
          <li><%= link_to 'Informatie', '/index.html' %></li>
          <li><%= link_to 'Programma', '/programma.html' %></li>
        </ul>
      </section>

      <%= yield %>
    </div>

    <div class="footer-wrapper">
      <section class="footer">
        <p class="sdn">
          Powered by <a href="http://stichtingdrupal.nl/">Stichting Drupal Nederland</a>
        </p>
        <p>
          DrupalJam wordt mogelijk gemaakt door de vrijwillige bijdrage van leden uit de Nederlandse Drupal-community.
        </p>
        <p>
          <%= link_to 'Colofon', '/colofon.html' %>
        </p>
      </section>
    </div>

    <script src="javascripts/all.js"></script>
  </body>
</html>
