<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DrupalJam 2015</title>
    <meta name="description" content="DrupalJam is het Drupal event voor Nederland en België">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="stylesheets/all.css">
    <script src="javascripts/modernizr.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <section class="header"><div class="section-inner">
        <%= link_to '', 'index.html', class: 'logo' %>
        <ul class="menu">
          <% [
               # 'index.html'
             ].each do |path|
              item = sitemap.find_resource_by_destination_path(path)
              active = item == current_resource
              attrs = Hash.new
              attrs['class'] = 'active' if active
          %>
            <li><%= link_to item.data['title'], item.url, attrs %></li> 
          <% end %>
        </ul>
      </div></section>

      <%= yield %>
    </div>

    <div class="footer-wrapper">
      <section class="footer"><div class="section-inner">
        <span class="sdn"></span>
        <p>
          Powered by <a href="http://stichtingdrupal.nl/" target="_blank">Stichting Drupal Nederland</a>.
        </p>
        <p>
          DrupalJam wordt mogelijk gemaakt door de vrijwillige bijdrage van leden uit de Nederlandse Drupal-community.
        </p>
        <p>
          <%= link_to 'Colofon', '/colofon.html' %>
        </p>
      </div></section>
    </div>

    <script src="javascripts/all.js"></script>
  </body>
</html>
