<div class="speakers speakers-featured">
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'featured/jam.jpg' %>"></div>
    <h2>Jeffrey Maguire</h2>
    <h3>Why Drupal 8? Why now? PS: Drupal 7 is still awesome</h3>
  </div></div>
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'featured/anton.jpg' %>"></div>
    <h2>Anton Vanhoucke</h2>
    <h3>Get Agile! Scrum, ook in Strategie en Design</h3>
  </div></div>
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'featured/stephen.jpg' %>"></div>
    <h2>Stephen Hay</h2>
    <h3>Keep It Simple Stupid</h3>
  </div></div>
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'featured/ben.jpg' %>"></div>
    <h2>Ben van 't Ende</h2>
    <h3>Wees een held in jouw community</h3>
  </div></div>
</div>