<div class="speakers speakers-keynote">
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'keynote/bruce.jpg' %>"></div>
    <h2>Bruce Lawson</h2>
    <p class="bio">Bruce is een webstandaard op zichzelf, actief in HTML5 en diep betrokken in het open web. Bruce kent een paar HTML tags uit zijn hoofd!</p>
    <h3>&lt;picture&gt; and friends: HTML responsive images</h3>
  </div></div>
  <div class="speaker"><div class="speaker-inner">
    <div class="image"><img src="<%= image_path 'keynote/marco.jpg' %>"></div>
    <h2>Marco Derksen</h2>
    <p class="bio">Marco is fanatiek oprichter en beheerder van initiatieven in  de media: Upstream, Marketingfacts. Marco begrijpt nieuwe media.</p>
    <h3>Opkomst van de platform­economie</h3>
  </div></div>
</div>