.sponsors {
  .title-wrapper {
    margin-bottom: 4em;
  }
  span.title {
    font-size: 1em;
  }

  padding: 2em 1em;

  &:first-child {
    padding-top: 6em;
  }

  &:last-child {
    padding-bottom: 6em;
  }
}