<div class="sponsors">
  <div class="sponsors-inner">
    <span><%= data.sponsors[sponsor_type]['human'] %>sponsoren</span>
    <% data.sponsors[sponsor_type]['sponsors'].each do |sponsor| %>
      <a href="<%= sponsor['url'] %>" class="sponsor sponsor-<%= sponsor['key'] %>"><%= sponsor['name'] %></a>  
    <% end %>
  </div>
</div>