<div class="sponsors">
  <div class="sponsors-inner">
    <div class="title-wrapper"><span class="title"><%= data.sponsors[sponsor_type]['human'] %>sponsoren</span></div>
    <% data.sponsors[sponsor_type]['sponsors'].each do |sponsor| %>
      <a href="<%= sponsor['url'] %>" class="sponsor sponsor-<%= sponsor['key'] %>" target="_blank"><%= sponsor['name'] %></a>  
    <% end %>
  </div>
</div>