---
title: "Informatie"
---

<section class="white intro"><div class="section-inner">
  <div class="intro">
    <h1>Hét Drupal evenement van de Lage Landen</h1>
    <p>
      DrupalJam 2015 Donec ullamcorper nulla non metus auctor fringilla. Cras mattis <strong>30 april 2015</strong> consectetur purus <strong><a href="http://defabrique.nl/" target="_blank">De Fabrique</a> in Utrecht</strong> sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.
    </p>
    <a href="#" class="button" target="_blank"><span>Sponsor­brochure</span></a>
  </div>
</div></section>

<section class="main content"><div class="section-inner">
  <h1>Programma</h1>
  <p>
    We hebben een goed gevuld programma met twee fantastische keynotesprekers, van buiten de Drupal community. Wie dat zijn blijft nog even een verrassing. Daarnaast hebben we zelf een aantal sprekers, van binnen en buiten de community gevraagd.
  </p>
  <p>
    We willen we ook heel graag jouw verhaal horen. Heb je een onderwerp waar je graag iets over wilt vertellen? Laat het ons weten! We hebben veel ruimte in het programma beschikbaar.
  </p>

  <a href="<%= url_for('sessies.html') %>" class="button"><span>Sessie aanmelden</span></a>

</div></section>

<section class="white content kart"><div class="section-inner">
  <div class="section-content">
    <h1>Karttoernooi</h1>
    <p>
      Als concurrerende Drupal bedrijven komen we elkaar natuurlijk regelmatig tegen in offerte-trajecten. Het leek ons goed om ook eens op een andere manier de strijd met elkaar aan te gaan. Daarom organiseren we als afterparty voor Drupaljam een karttoernooi. Hét <strong>Drupal Karttoernooi 2015</strong>, om precies te zijn. 
    </p>

    <p>
      In de Fabrique bevindt zich de <a href="http://www.kartfabrique.nl/" target="_blank">KartFabrique</a>, een prachtige <a href="http://www.kartfabrique.nl/circuit/" target="_blank">baan</a> om dit toernooi op te racen. De inschrijving voor het toernooi is per team van 5, 6 of 7 vrouw/man. Het winnende team valt natuurlijk, naast eeuwige roem, ook de prachtige Drupal Karttoernooi 2015 bokaal ten deel.
    </p>

    <a href="https://docs.google.com/a/rolfvandekrol.nl/forms/d/1uysb1eF2EmjcI2VUy_ACU_C4z4qvlrTRAKr4HTgYcr0/viewform" class="button" target="_blank"><span>Team inschrijven</span></a>

    <p class="small">
      Er is plaats voor maximaal 20 teams. Het inschrijfgeld bedraagt <span class="no-wrap">&euro; 250,&mdash;</span> per team. Niet in het invullen van het formulier, maar het betalen van het inschrijfgeld bepaalt het moment van definitieve inschrijving. De plaatsen worden op first-come-first-served-basis verdeeld.
    </p>
    <p class="small">
      De meest voor de hand liggende teamsamenstelling is natuurlijk een bedrijfsteam, maar we staan zeker open voor teams met een andere samenstelling. Als er voldoende animo voor is wordt er een freelancers-team samengesteld. Als je hieraan wilt deelnemen, laat dit dan even weten op <a href="https://twitter.com/drupaljam" target="_blank">Twitter</a>.
    </p>
  </div>
</div></section>