---
title: "Colofon"
---

<section class="white content kart"><div class="section-inner">
  <div class="section-content">
    <h1>Kart­toernooi</h1>

    <p class="intro">
      Als concurrerende Drupal bedrijven komen we elkaar natuurlijk regelmatig tegen in offerte-trajecten. Het leek ons goed om ook eens op een andere manier de strijd met elkaar aan te gaan. Daarom organiseren we als afterparty voor Drupaljam een karttoernooi. Hét <em>Drupal Karttoernooi 2015</em>, om precies te zijn. 
    </p>

    <p>
      In de Fabrique bevindt zich de <a href="http://www.kartfabrique.nl/" target="_blank">KartFabrique</a>, een prachtige <a href="http://www.kartfabrique.nl/circuit/" target="_blank">baan</a> om dit toernooi op te racen. De inschrijving voor het toernooi is per team van 5, 6 of 7 vrouw/man. Het winnende team valt natuurlijk, naast eeuwige roem, ook de prachtige Drupal Karttoernooi 2015 bokaal ten deel.
    </p>

    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/InZcxXK2BA8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>

    <p>
      Er is plaats voor maximaal 20 teams. Het inschrijfgeld bedraagt <span class="no-wrap">&euro; 250,&mdash;</span> per team (excl. BTW). Niet in het invullen van het formulier, maar het betalen van het inschrijfgeld bepaalt het moment van definitieve inschrijving. De plaatsen worden op first-come-first-served-basis verdeeld.
    </p>
    <p>
      De meest voor de hand liggende teamsamenstelling is natuurlijk een bedrijfsteam, maar we staan zeker open voor teams met een andere samenstelling. Als er voldoende animo voor is wordt er een freelancers-team samengesteld. Als je hieraan wilt deelnemen, laat dit dan even weten op <a href="https://twitter.com/drupaljam" target="_blank">Twitter</a>.
    </p>
    <p>
      Tussen DrupalJam en het karttoernooi zullen we natuurlijk een hapje moeten eten. We zijn nog bezig met de organisatie hiervan, dus we weten nog niet in welke vorm dit zal zijn. In elk geval is het inschrijfgeld voor het karttoernooi <strong>niet</strong> inclusief eten.
    </p>

    <a href="https://docs.google.com/a/rolfvandekrol.nl/forms/d/1uysb1eF2EmjcI2VUy_ACU_C4z4qvlrTRAKr4HTgYcr0/viewform" class="button" target="_blank"><span>Team inschrijven</span></a>
  </div>
</div></section>