---
title: "Sessie aanmelden"
---

<section class="white content"><div class="section-inner">
  <h1>Sessie aanmelden</h1>

  <p>
    We hebben in het programma veel ruimte voor jouw verhaal! Heb je een verhaal dat je graag aan de community kwijt wilt? Meld je aan!
  <p>
    We willen graag experimenteren met nieuwe vormen van sessies in het programma. Daarom hebben we aantal verschillende soorten slots voor de community-sprekers voorzien. Hieronder vind je een overzicht van de verschillende vormen die beschikbaar zijn. Bij je aanmelding wordt je gevraagd in welke vorm(en) je verhaal past.
  </p>

  <dl>
    <dt>Presentatie</dt>
    <dd>
      Dit is de vorm die je van vorige DrupalJams gewend bent. Je krijgt ruim de tijd om je verhaal te vertellen. In de vorige edities van de DrupalJam kreeg je voor deze sessie meestal 45 minuten. We hebben diverse signalen gekregen dat dit vaak te lang is. Aan de andere kant zijn er ook onderwerpen die je geen recht kunt doen in kortere tijd. Daarom hebben we deze vorm in twee smaken: <strong>Presentatie 30 minuten</strong> en <strong>Presentatie 45 minuten</strong>.
    </dd>

    <dt>Lightning Talk</dt>
    <dd>
      We willen graag (bij voorkeur minder bekende) modules van Nederlandse en Belgische bodem in het zonnetje zetten. Hiervoor hebben we een aantal <strong>Lightning Talks</strong> ingepland in het programma. Je krijgt 15 minuten om je module te laten zien. Dus heb je een module geschreven die je graag wilt laten zien? Meld je aan. <em>Let op: we zijn streng in het bijhouden van de tijd bij deze sessie. 15 minuten is echt 15 minuten. Het is verstandig te zorgen dat je verhaal in 10 minuten past, zodat er nog wat ruimte is voor vragen.</em>
    </dd>

    <dt>Workshop</dt>
    <dd>
      Is je verhaal meer geschikt voor een hands-on sessie waarin de bezoekers zelf aan het werk moeten? We hebben ruimte voor een <strong>workshop</strong> van ruim een uur. <em>Let op: een workshop is dus niet gewoon een lange presentatie. Het is de bedoeling dat je de bezoekers zelf aan de slag helpt.</em>
    </dd>

    <dt>BoF</dt>
    <dd>
      Er is ruimte voor twee <strong>Birds of a Feather</strong> sessies. Een BoF is een informele meeting waarin een onderwerp besproken kan worden met een beperkte groep mensen. Je kunt je nog niet aanmelden voor een BoF sessie nu. De twee BoF slots zijn gepland in de middag van de DrupalJam. Gedurende ochtend zullen we de mogelijkheid bieden een slot te claimen.
    </dd>
  </dl>

  <p>
    Heb je een keuze kunnen maken voor welke vorm je verhaal het meest geschikt is? 
  </p>

  <a href="https://docs.google.com/a/rolfvandekrol.nl/forms/d/1Th4PnS5IPkp-roY-jVDbFunk5BDOxPXlkK0nUoRh8HY/viewform" class="button" target="_blank"><span>Meld je aan</span></a>
</div></section>